*{
    padding: 0%;
    margin: 0;
    box-sizing:border-box;
    font-family: arial;
}
.navbar{
    background-color:aqua;
}
.navbar__nav{
    width: 1140px;
    min-height: 65px;
    /* border:1px solid red; */
    justify-content:space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
}
.navbar__nav--links{
    display: flex;
    list-style: none    ;
}
.navbar__nav--links a{
    padding: 23px 15px;
    text-decoration: none;

}
.navbar__nav--links a:hover{
    background-color: cornsilk;
    color: red;

}
/* header */
.header{
    height: 500px;
    background-image: url("./images/bg-picture.jpg");
    background-position:center;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items:center;

}
.header-text{
    color:white;
}
.header-text h1{
    font-size: 50px;
    justify-content: center;
    display: flex;

}
.p-word{
    font-weight: 700;
}
p{
    font-size: 18px;
}
/* header end */

/* footer */
.footer{
    background: #EBEBEB;
    width: 100%;
    
}
.container{
    width: 1140px;
    min-height: 65px;
    /* border:1px solid red; */
    display: flex;
    margin: 0 auto;
    gap: 30px;
    align-items:center;
    justify-content: space-between;
}
.footer__main{
    width: 540px;
    height: 467px;
    border:1px solid yellow;
    padding: 15px;
    border-radius: 6px;
    background: #FFF;
}
.footer__main h3{
    color: #2C2A2A;
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
}
.footer__main p{
    padding-top: 10px;
    color:#9B9B9B;
    font-size: 16px;
    font-weight: 400;
}
.footer__second  , .footer__main{
    transform: translateY(-40px);
}
.footer__card{
    border-radius: 6px;
    background: #FFF;
    padding: 16px;
    width: 255px;
    height: 218px;
}
.footer__card img{
    border-radius:50px;
    background-size:cover;
    margin: 0 auto;
    display: flex;

}
.footer__card h3{
    color: #2C2A2A;
    font-size: 22px;
    text-align: center;
}
.footer__card p{
    margin-top:12px;
    color:#9B9B9B;
}
.footer__second{
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
}
.footer__card img:hover{
    transform: scale(1.6);
    transition: 1s;
}
.footer__main img:hover{
    transform: rotate(30deg);
    transition: 1s;
    /* transform: scale(1.3); */
}
.product{
    background: #322E41;
    padding: 37px 0 57px;
}
.product__links{
    width: 260px;
    height: 120px;
    list-style: none;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
}
.product__links a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: flex;
    margin-top: 10px;
}

/* footer end */